@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom scrollbar for dark background */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 4px;
}
